body {
    font-family: Arial, sans-serif;
    background-image: url('../img/IMG_5812.JPG'); /* Reemplaza con tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente blanco */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra suave */
    width: 320px;
}

.login-form-container {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-group label {
    font-size: 18px;
    color: #555;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-group input {
    padding: 12px;
    padding-left: 40px; /* Espacio adicional para el icono */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho total */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Iconos */
.form-group label i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

/* Enlaces */
.form-options {
    margin-top: 10px;
    text-align: center;
}

.form-options a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.form-options a:hover {
    text-decoration: underline;
}

.form-options span {
    color: #555;
}
